/* 320/568px correspond l'iphone 5*/
@media (min-width:320px) and (max-width:360px) { 
    .gallery {
        color:yellow;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 300px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 280px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 280px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 360/740px correspond Galaxy S9/S9+ Android 7.0*/
@media (min-width:360px) and (max-width: 374px) {
    .gallery {
        color: blue;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 320px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 290px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 290px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 375/667px correspond l'iphone 6/7/8*/
@media (min-width:375px) and (max-width: 413px) {
    .gallery {
        color: orangered;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 340px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 320px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 320px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 414/736px correspond l'iphone 6/7/8 plus*/
@media (min-width:414px)and (max-width:567px) {
    .gallery {
        color:lime;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 380px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 340px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 340px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 320/568px correspond l'iphone 5*/
@media (min-width:568px) and (max-width:599px) {
    .gallery {
        color:yellow;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 530px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 490px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 490px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 600/960px correspond Nexus 7 Android 6.0.1*/
@media (min-width:600px) and (max-width:666px) {
    .gallery {
        color: brown;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 560px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 510px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 510px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 375/667px correspond l'iphone 6/7/8*/
@media (min-width:667px) and (max-width:730px) {
    .gallery {
      color: orangered;
      margin: 20px auto 0px;
      padding-top: 20px;
      width: 610px;
      height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 280px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 280px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 411/731px correspond au Pixel Android 8.0*/
@media (min-width: 731px) and (max-width:735px) {
    .gallery {
      color: blue;
      width: 700px;
      margin: 20px auto 0px;
      padding-top: 20px;
      height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 320px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 320px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 414/736px correspond l'iphone 6/7/8 plus*/
@media (min-width: 736px) and (max-width:767px) {
    .gallery {
      color: lime;
      margin: 20px auto 0px;
      padding-top: 20px;
      width: 700px;
      height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 320px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .gallery .thumb:first-child {
        width: 320px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

@media (min-width:768px) and (max-width:799px) {
    .gallery {
      color: darkolivegreen;
      margin: 20px auto 0px;
      padding-top: 20px;
      width: 740px;
      height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb:nth-child(n+5) {
      margin-bottom: 20px;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -80%;
    }
    .gallery .thumb:first-child {
        width: 700px;
        height: 305px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}    
/*800/1280px correspond à la Kindle Fire HDX Linux*/
@media (min-width:800px) and (max-width:895px) {
    .gallery {
      color: purple;
      margin: 20px auto 0px;
      padding-top: 20px;
      width: 770px;
      height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -80%;
    }
    .gallery .thumb:first-child {
        width: 740px;
        height: 305px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 414/896px correspond à l'iphone XS Max iOS 12*/
@media (min-width: 896px) and (max-width: 959px) {
    .gallery {
        color: red;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 850px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 400px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb:nth-child(n+5) {
        margin-bottom: 20px;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -58%;
    }
    .gallery .thumb:first-child {
        width: 6000px;
        height: 405px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 600/960px correspond Nexus 7 Android 6.0.1*/
@media (min-width:960px) and (max-width:1023px) {
    .gallery {
        color: violet;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 900px;
        height: 100%;
    }
    .gallery .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 400px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .gallery .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -58%;
    }
    .gallery .thumb:first-child {
        width: 850px;
        height: 350px;
        margin: 0 auto 108px;
    }  
    .gallery .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }   
}

@media (min-width: 1024px) and (max-width: 1159px) {
    .gallery {
        color: darksalmon;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        margin: 1.5em auto 0px auto;
        padding: 20px 10px;
        width: 1000px;
        height: 100%;
        background-color: rgb(84, 84, 112);
    }
      
    .gallery .thumb {
      color: Black;
      opacity: 1;
      margin-bottom: 18px;
      overflow: hidden;
      position: relative;
      width: 470px;
      height: 209px;
    }
    .gallery .thumb:nth-child(n+5) {
      margin-bottom: 20px;
    }
    .gallery .thumb .yt-video {
      position: absolute;
      left: 0;
      width: 1000px;
      height: 1181px;
      margin-top: -33%;
      margin-right: -20px;
    }
    .gallery .thumb:first-child {
      width: 100%;
      height: 464px;
    }
    .gallery .thumb:nth-child(n+2):nth-child(-n+4) .yt-video {
      bottom: -203%;
    }
    .gallery .thumb:nth-child(n+5) .yt-video {
      bottom: -148%;
    }
    .gallery .thumb:nth-child(3n) .yt-video {
      left: 50%;
      transform: translateX(-50%);
    }
    .gallery .thumb:nth-child(4) .yt-video, 
    .gallery .thumb:last-child .yt-video {
      left: auto;
      right: 0;
    }
    
}

@media (min-width: 1440px) {
    .gallery {
      color:darkkhaki;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      margin: 1.5em auto 0px auto;
      padding: 20px 10px;
      width: 1400px;
      height: 100%;
      background-color: rgb(84, 84, 112);
    }
    .gallery .thumb {
      color: Black;
      opacity: 1;
      margin-bottom: 18px;
      overflow: hidden;
      position: relative;
      width: 650px;
      height: 209px;
    }
    .gallery .thumb .yt-video {
      position: absolute;
      left: 0;
      width: 1400px;
      height: 1181px;
      margin-top: -23%;
    }
    .gallery .thumb:first-child {
      width: 100%;
      height: 600px;
    }
}