@media (min-width:320px) {
    .gallery {
        color:snow;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 300px;
        height: 100%;
    }
    .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 280px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .thumb:first-child {
        width: 280px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

@media (min-width:375px) {
    .gallery {
        color: burlywood;
        width: 360px;
    }
    .thumb {
      color: lightgrey;
      width: 340px;
    }
    .thumb .yt-video {
        margin-top: -88%;
    }
    .thumb:first-child {
        width: 340px;
    }  
}

@media (min-width:568px) {
    .gallery {
        color:red;
        width: 538px;
    }
    .thumb {
      width: 500px;
    }
    .thumb .yt-video {
        margin-top: -95%;
    }
    .thumb:first-child {
        width: 500px;
    }  
}

@media (min-width:667px) {
    .gallery {
      color: cyan;
      width: 610px;
  }
  .thumb {
    color: lightgrey;
    width: 280px;
  }
  .thumb:first-child {
      width: 280px;
  } 
}

