/* 320/568px correspond l'iphone 5*/
@media (min-width:320px) { 
    .gallery {
        color:yellow;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 300px;
        height: 100%;
    }
    .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 280px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -95%;
    }
    .thumb:first-child {
        width: 280px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 360/740px correspond Galaxy S9/S9+ Android 7.0*/
@media (min-width:360px) {
    .gallery {
        color: blue;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 320px;
        height: 100%;
    } 
}

/* 375/667px correspond l'iphone 6/7/8*/
@media (min-width:375px) {
    .gallery {
        color: orangered;
        width: 360px;
    }
    .thumb {
      color: lightgrey;
      width: 340px;
    }
    .thumb .yt-video {
        margin-top: -88%;
    }
    .thumb:first-child {
        width: 340px;
    }  
}

/* 414/736px correspond l'iphone 6/7/8 plus*/
@media (min-width:414px) {
    .gallery {
        color:lime;
        width: 380px;
    } 
}

/* 320/568px correspond l'iphone 5*/
@media (min-width:568px) {
    .gallery {
        color:yellow;
        width: 538px;
    }
    .thumb {
      width: 500px;
    }
    .thumb .yt-video {
        margin-top: -95%;
    }
    .thumb:first-child {
        width: 500px;
    }  
}

/* 600/960px correspond Nexus 7 Android 6.0.1*/
@media (min-width:600px) {
    .gallery {
        color: brown;
        width: 560px;
    } 
}

/* 375/667px correspond l'iphone 6/7/8*/
@media (min-width:667px) {
    .gallery {
        color: orangered;
      width: 610px;
  }
  .thumb {
    color: lightgrey;
    width: 280px;
  }
  .thumb:first-child {
      width: 280px;
  } 
}

/* 411/731px correspond au Pixel Android 8.0*/
@media (min-width: 731px) {
    .gallery {
      color: blue;
      width: 700px;
    }
    .thumb {
        color: lightgrey;
        width: 320px;
    }
    .thumb:first-child {
        width: 320px;
    }
}

/* 414/736px correspond l'iphone 6/7/8 plus*/
@media (min-width: 736px) {
    .gallery {
      color: lime;
      margin: 20px auto 0px;
      padding-top: 20px;
      width: 700px;
      height: 100%;
  }
}

/*800/1280px correspond à la Kindle Fire HDX Linux*/
@media (min-width:800px) {
    .gallery {
        color: purple;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 770px;
        height: 100%;
    }
    .thumb {
      color: ligthgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -88%;
    }
    .thumb:first-child {
        width: 350px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 414/896px correspond à l'iphone XS Max iOS 12*/
@media (min-width: 896px) {
    .gallery {
        color: red;
        margin: 20px auto 0px;
        padding-top: 20px;
        width: 850px;
        height: 100%;
    }
    .thumb {
      color: lightgrey;
      opacity: 1;
      overflow: hidden;
      position: relative;
      width: 400px;
      height: 205px;
      margin: 0px auto 108px auto;
    }
    .thumb .yt-video {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 1181px;
        margin-top: -88%;
    }
    .thumb:first-child {
        width: 400px;
        height: 205px;
        margin: 0 auto 108px;
    }  
    .thumb:nth-child(n+5) .yt-video {
        bottom: -129%;
    }
}

/* 600/960px correspond Nexus 7 Android 6.0.1*/
@media (min-width:960px) {
    .gallery {
        color: brown;
        width: 900px;
    }
    
}

/*800/1280px correspond à la Kindle Fire HDX Linux*/
@media (min-width:1280px) {
    .gallery {
        color: purple;
        width: 1200px;
    }
    .thumb {
      color:lightgrey;
      width: 550px;
      height: 305px;
    }

    .thumb:first-child {
        width: 550px;
        height: 305px;
    }  
    .thumb:nth-child(n+2):nth-child(-n+4) .yt-video {
        bottom: -200%;
    }
}